.container {
     max-width: 800px;
     margin: auto;
     padding: 20px;
     font-family: sans-serif;
     background-color: rgba(210, 105, 30, 0.137);
   }
   
   .section {
     margin-bottom: 20px;
     border-bottom-color: antiquewhite;
   }
   
   select, button, input {
     margin: 5px 0;
     padding: 5px;
   }
   
   .workshop-list {
     list-style: none;
     padding: 0;
   }
   
   .workshop-list li {
     padding: 10px;
     margin-bottom: 10px;
     background-color: rgb(247, 168, 65);
     border-radius: 5px;
   }
   .workshop-card {
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    min-height: 100px;
  }
  