.container {
     max-width: 800px;
     margin: auto;
     padding: 20px;
     font-family: sans-serif;
     background-color: rgba(210, 105, 30, 0.137);
   }
   
   .section {
     margin-bottom: 20px;
     border-bottom-color: antiquewhite;
   }
   
   select, button, input {
     margin: 5px 0;
     padding: 5px;
   }
   
   .workshop-list {
     list-style: none;
     padding: 0;
   }
   
   .workshop-grid {

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 20px;
   }
   .workshop-card {
    border: 1px solid #a51c1c;
    padding: 16px;
    margin-bottom: 8px;
    background-color: #d5acac;
    box-shadow: #d31818;
    border-radius: 6px;
  }
  